{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Protoyping Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/start" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">Annual test</h1>

      <h2 class="govuk-heading-m">Test details</<h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Test date</dt>
          <dd class="govuk-summary-list__value">1 Jan 2019</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Test time</dt>
          <dd class="govuk-summary-list__value">09:00 - 09:15</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Test result</dt>
          <dd class="govuk-summary-list__value">Pass</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Test expiry</dt>
          <dd class="govuk-summary-list__value">1 Jan 2020</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Certificate number</dt>
          <dd class="govuk-summary-list__value">C726GJDU18JJ00</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Vehicle details</<h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Odometer reading</dt>
          <dd class="govuk-summary-list__value">97,000 km</dd>
          <dd class="govuk-summary-list__actions"><a href="/odometer">Change</a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Seat belt installation check</<h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Carried out during inspection</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of seat belts fitted</dt>
          <dd class="govuk-summary-list__value">53</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous seatbelt installation check</dt>
          <dd class="govuk-summary-list__value">1 Jan 2017</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Test station</<h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">JRW Haulage Ltd</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">P-number</dt>
          <dd class="govuk-summary-list__value">P123456</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Tester</<h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">Andy Smith</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Staff ID</dt>
          <dd class="govuk-summary-list__value">894629</dd>
          <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
        </div>
      </dl>


{% endblock %}
